<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div class='userInfo'>
      <a href="/users/<%=user.id %>"></span><span>name: <%=user.name %> </span
      ><span>age: <%=user.age %></span></a>
      <a href="/edit/<%=user.id %>">edit user</a><a href="/delete/<%=user.id %>">delete user</a>
    </div>
    <hr />
    <br />
  </body>
</html>
